[MASTER]
extension-pkg-whitelist=

ignore=CVS,Dockerfile,docker-compose.yml,README.md,requirements.txt,LICENSE.txt

ignore-patterns=

jobs=0

limit-inference-results=100

load-plugins=

persistent=yes

suggestion-mode=yes

unsafe-load-any-extension=no


[MESSAGES CONTROL]

confidence=

disable=missing-docstring,
      fixme,
      ungrouped-imports, # Leave this up to isort
      wrong-import-order, # Leave this up to isort
      bad-continuation, # Leave this up to black
      line-too-long, # Leave this up to black
      missing-module-docstring, # temp-pylint-upgrade
      logging-fstring-interpolation,
      import-error

[REPORTS]

[REFACTORING]

max-nested-blocks=5

never-returning-functions=sys.exit


[LOGGING]

logging-format-style=new

logging-modules=logging


[SPELLING]

max-spelling-suggestions=4

spelling-dict=

spelling-ignore-words=

spelling-private-dict-file=

spelling-store-unknown-words=no


[MISCELLANEOUS]

notes=FIXME,
      XXX,
      TODO


[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager

generated-members=types_pb2.*

ignored-classes=

ignored-modules=

missing-member-hint=yes

missing-member-hint-distance=1

missing-member-max-choices=1


[VARIABLES]

additional-builtins=

allow-global-unused-variables=yes

callbacks=cb_,
          _cb

dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

ignored-argument-names=_.*|^ignored_|^unused_|^kwargs|^args

init-import=no

redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io


[FORMAT]

expected-line-ending-format=LF

ignore-long-lines=^\s*(# )?<?https?://\S+>?$

indent-after-paren=4

indent-string='    '

max-line-length=79

max-module-lines=1000

no-space-check=trailing-comma,
               dict-separator

single-line-class-stmt=no

single-line-if-stmt=no


[SIMILARITIES]

ignore-comments=yes

ignore-docstrings=yes

ignore-imports=no

min-similarity-lines=4


[BASIC]

argument-naming-style=snake_case

attr-naming-style=snake_case

bad-names=foo,
          bar,
          baz

class-attribute-naming-style=any

class-naming-style=PascalCase

const-naming-style=any

docstring-min-length=-1

function-naming-style=snake_case

good-names=_,
           __,
           log,
           logger

include-naming-hint=yes

inlinevar-naming-style=any

method-naming-style=snake_case

module-naming-style=snake_case

name-group=

no-docstring-rgx=^_

property-classes=abc.abstractproperty

variable-naming-style=snake_case

variable-rgx=(([a-z_][a-z0-9_]{1,})|(_[a-z0-9_]*)|(__[a-z][a-z0-9_]+__))$


[IMPORTS]

allow-wildcard-with-all=no

analyse-fallback-blocks=yes

deprecated-modules=optparse,tkinter.tix

ext-import-graph=

import-graph=

int-import-graph=

known-standard-library=six

known-third-party=enchant


[CLASSES]

defining-attr-methods=__init__,
                      __new__,
                      setUp

exclude-protected=_asdict

valid-classmethod-first-arg=cls

valid-metaclass-classmethod-first-arg=cls


[DESIGN]

max-args=5

max-attributes=7

max-bool-expr=5

max-branches=12

max-locals=15

max-parents=7

max-public-methods=20

max-returns=6

max-statements=50

min-public-methods=2


[EXCEPTIONS]

overgeneral-exceptions=Exception